.bg-container{
    background-color:#081b29;
    height:100vh;
}
.navbar-brand{
    font-size:25px;
}
.nav-link{
    color:aqua;
    font-size:20px;
}
.image{
    width:230px;
    margin-bottom:25px;
    border-radius:250px;
}
.heading {
    font-size: 60px;
    color: #ffffff;
    font-weight: 300;
}
.highlight{
    color:aqua;
}
.description {
    font-size: 40px;
    color: indianred;
}
.button {
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 10px;
    border:1px solid aqua;
}
.button:hover{
    background-color:aqua;
    color:black;
    transition:1s;
}
a{
    text-decoration: none;
    color:aqua;
}

.amc-title{
    color:white;
    font-weight:600;
    font-size:60px;
}
.about-me-container{
    background-color:#0b2639;
    padding:50px;
}
.side-heading{
    color:rgb(214, 214, 19);
    font-size:35px;
}
.amc-title{
    font-size:35px;
}
.amc-description{
    font-size:23px;
    color:white;
}
.amc-image{
    width:100%;
    border-radius:20px;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:-50px;
}
.skills-container{
    background-color:#1f2933;
    padding:30px;
}
.skills-side-heading{
    color:#cced00;
    font-size:35px;
}
.sc-card{
    background-color:#323f4b;
    border-radius:10px;
    padding:10px;
}
.s-image{
    height:80px;
    width:80px
}
.sc-title{
    color:#ffffff;
    font-size:30px;
    font-weight:600;
    margin-top:10px
}
.projects-container{
    background-color:black;

    padding:10px;
}
.pc-heading{
    color:yellow;
    font-size:30px;
}
.pc-card{
    border:1px solid #fff;
    margin-top:10px;
    border-radius:20px;
    padding:10px;
}
.pc-image{
    width:300px;
    height:200px;
}
.pc-title{
    color:white;
    font-size:40px;
    margin-top:30px;
    text-align:center;
    font-style: italic;
}
.contact-container{
    background-color:#0d2436;
}
.footer-section-image {
    width: 60px;
    height: 60px;
    border-radius: 40px
}

.footer-section-copyright-container {
    text-align: center;
    color: #ffffff;
    background-color: #001c32;
    padding: 10px;
}

.footer-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.footer-section-text {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 16px;
}
.icon{
    color:#5a7184;
    font-size:20px
}